.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
  padding: 20px 40px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar-logo {
  font-size: 1.6rem;
  color: #ffc300;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}

.hamburger {
  display: none;
  font-size: 1.8rem;
  color: #ffc300;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #111;
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    padding: 20px;
    gap: 15px;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}
